lib
debug
obj
bin
release
_ReSharper.*
*.ReSharper.user
*.DotSettings
*.suo
*.user
*.nupkg
nuget.exe
publish
[Pp]ackages/*.NuGet
[Pp]ackages/*.sha512
[Pp]ackages/*.nuspec
src/packages
**/App_Data/Logs/Elmah.Errors
**/App_Data/NuGet/packages
[Bb]uild
[Aa]rtifacts
_patchedAssemblyInfos

_NCrunch_*
_ReSharper*
*.ide
.HistoryData
*.BASE*
*.LOCAL*
*.REMOTE*
*.BACKUP*
*.orig
*.pubxml
src/.vs