lib
debug
obj
bin
release
_ReSharper.*
*.ReSharper.user
*.DotSettings
*.suo
*.user
*.nupkg
nuget.exe
publish
[Pp]ackages
**/App_Data/Logs/Elmah.Errors
[Bb]uild
[Aa]rtifacts
_patchedAssemblyInfos

_NCrunch_*
_ReSharper*
*.ide
.HistoryData
*.BASE*
*.LOCAL*
*.REMOTE*
*.BACKUP*
*.orig
*.pubxml