@model Arbor.NuGetServer.IisHost.Controllers.CleanViewOutputModel

<h2>Clean packages</h2>

<form method="post" action="@Model.CleanPostRoute">

    <div>
        <label for="what-if-field">What If</label> <input id="what-if-field" name="whatif" type="checkbox"/>
    </div>

    <div>
        <label for="pre-prelease-only-field">Pre-release only</label> <input id="pre-prelease-only-field" name="preReleaseOnly" type="checkbox"/>
    </div>


    <div>
        <label for="package-id-field">Package Id</label> <input type="text" name="packageId" id="package-id-field"/>
    </div>

    <div>
        <input type="submit" value="Clean"/>
    </div>

</form>

