@using Arbor.NuGetServer.Api.Html
@model Arbor.NuGetServer.Api.Areas.NuGet.Clean.CleanViewOutputModel

<h2>Clean packages</h2>

<form method="post" action="@Model.CleanPostRoute">

    <div class="input-field">
        <input id="what-if-field" name="whatif" type="checkbox" @Model.WhatIf.Checked()/> <label for="what-if-field">What If</label>
    </div>

    <div class="input-field">
        <input id="pre-prelease-only-field" name="preReleaseOnly" type="checkbox" @Model.PreReleaseOnly.Checked()/> <label for="pre-prelease-only-field">Pre-release only</label>
    </div>

    <div class="input-field">
        <label for="package-id-field">Package Id</label> <input type="text" name="packageId" id="package-id-field"/>
    </div>

    <div class="input-field">
        <label for="packages-to-keep-field">Packages to keep</label> <input type="number" name="packagesToKeep" id="packages-to-keep-field" value="@Model.PackagesToKeep"/>
    </div>

    <div class="input-field">
        <input type="submit" value="Clean"/>
    </div>

</form>

