@using Arbor.NuGetServer.Api.Areas.NuGet.MultiTenant
@using Arbor.NuGetServer.IisHost.Areas.Tenants
@model Arbor.NuGetServer.IisHost.Areas.Tenants.TenantsOutputViewModel

<h2>Tenants</h2>

<table>
    <thead>
        <tr>
            <th>Tenant</th>
        </tr>
    </thead>
    <tbody>
        @foreach (NuGetTenantStatistics item in Model.NuGetTenants)
        {
            <tr>
                <td><a href="@Url.RouteUrl(TenantRouteConstants.TenantHttpGetRouteName, new {tenant=item.TenantId.TenantId})">@item.TenantId.TenantId</a></td>
            </tr>
        }
    </tbody>
</table>
